@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
html {
	scroll-behavior: smooth;
}
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	font-family: 'Poppins', sans-serif;
	background-color: #212120;
	width: 100%;
	position: fixed;
	overflow: unset;
	top: 0;
	z-index: 99;
}

body {
	background: #193b55;
	color: #d7e7f3;
	font-family: 'Work Sans', sans-serif;
	text-align: center;
	font-size: 22px;
	line-height: 33px;
}

h1 {
	font-size: 3em;
	font-weight: 200;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: normal;
	height: auto;
	-webkit-font-smoothing: subpixel-antialiased;
	box-sizing: border-box;
}

div.block {
	height: 100vh;
	padding: 20vh 15vw 0 15vw;
}
a {
	color: #41b883;
	text-decoration: none;
}

a:hover {
	color: tomato;
}
a.navbar-brand {
	color: rgb(226, 226, 226);
}

a.navbar-brand:hover {
	color: #41b883;
}

div.block:nth-child(1n) {
	background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

div.block:nth-child(2n) {
	background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

div.block:nth-child(3n) {
	background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
}

table {
	width: 100%;
	border-collapse: collapse;
}
tr:nth-of-type(odd) {
	background: #41b883;
}
th {
	background: hsl(205, 90%, 22%);
	color: rgb(226, 226, 226);
	font-weight: bold;
}

th {
	padding: 6px;

	text-align: center;
}

.burger {
	display: none;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: rgb(226, 226, 226);
	margin: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.logo {
	color: rgb(226, 226, 226);
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 30%;
}

.nav-links li {
	list-style: none;
}

.nav-links a {
	color: rgb(226, 226, 226);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
}

.nav-links a:hover {
	color: #41b883;
}

.mainContato {
	height: 50vh;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	display: grid;
	grid-template-areas: "contato1 contato2" "contato3 contato4";
	justify-items: center;
	align-items: center;
}

.mainContato a {
	color: rgb(226, 226, 226);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 18px;
}

.mainContato a:hover {
	color: #41b883;
}
.contato1 {
	grid-area: contato1;
	animation-duration: 2s;
  	animation-delay: 0.5s;
  	animation-iteration-count: infinite;
}
.contato2 {
	grid-area: contato2;
	animation-duration: 2s;
  	animation-delay: 1s;
  	animation-iteration-count: infinite;
}
.contato3 {
	grid-area: contato3;
	animation-duration: 2s;
  	animation-delay: 1.5s;
  	animation-iteration-count: infinite;
}
.contato4 {
	grid-area: contato4;
	animation-duration: 2s;
  	animation-delay: 2s;
  	animation-iteration-count: infinite;
}
.TempoMobile {
	display: none;
}

#espacoGordo {
	background-color: #41b883;
	color: #41b883;
	margin: 0;
	height: 6px;
	width: 10%;
	position: relative;
	top: 1%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	border: 0;
	background-image: linear-gradient(to right, #41b883, #35956a, #246d4c);
	border-radius: 7px;
}

#espacoMagro {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, #41b883, #35956a, #246d4c);
}

#textoPrincipal {
	font-size: 3em;
	font-weight: 200;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: normal;
	-webkit-font-smoothing: subpixel-antialiased;
}
#btnContato {
	color: #41b883;
	text-decoration: none;
	display: inline-block;
	align-self: center;
	width: 280px;
	height: 60px;
	border: 5px solid transparent;
	background: #212120;
	padding: 10px;
	text-align: center;
	border-radius: 40px;
	font-weight: bold;
	text-align: center;
	align-items: center;
}
#btnContato:hover {
	color: tomato;
	box-shadow: -5px 5px 25px #000;
}

#textoTel:hover {
	color: tomato;
}

#textoTel {
	color: #41b883;
	text-decoration: none;
}

#textoTelSecundario:hover {
	color: tomato;
}

#textoTelSecundario {
	color: #41b883;
	text-decoration: none;
}

#textoColeta {
	text-align: justify;
}
#sobre p {
	text-align: justify;
}

#footer {
	font-size: 12px;
	font-style: oblique;
	align-self: baseline;
	margin-bottom: 5px;
	margin-top: 100px;
}

/* responsive */
@media screen and (max-width: 1366px) {
	body {
		overflow-x: hidden;
		font-size: 16px;
		line-height: 25px;
	}

	h1 span {
		display: block;
	}
	.nav-links {
		font-size: 16px;
		line-height: 27px;
		display: flex;
		justify-content: space-around;
		width: 50%;
	}
	div.block {
		height: 100vh;
		padding: 10vh 15vw 0 15vw;
	}
	#btnContato {
		color: #41b883;
		text-decoration: none;
		display: inline-block;
		align-self: center;
		width: 240px;
		height: 60px;
		background: #212120;
		padding: 10px;
		text-align: center;
		font-weight: bold;
	}
}
@media screen and (max-width: 1024px) {
	body {
		overflow-x: hidden;
		font-size: 16px;
	}

	h1 span {
		display: block;
	}
	.nav-links {
		font-size: 16px;
		line-height: 27px;
		display: flex;
		justify-content: space-around;
		width: 50%;
	}
	#btnContato {
		color: #41b883;
		text-decoration: none;
		display: inline-block;
		align-self: center;
		width: 240px;
		height: 60px;
		background: #212120;
		padding: 10px;
		text-align: center;
		font-weight: bold;
	}
}

@media screen and (max-width: 800px) {
	body {
		overflow-x: hidden;
		font-size: 16px;
	}

	h1 span {
		display: block;
	}
	#btnContato {
		color: #41b883;
		text-decoration: none;
		display: inline-block;
		align-self: center;
		width: 220px;
		height: 60px;
		background: #212120;
		padding: 10px;
		text-align: center;
		font-weight: bold;
	}
	div.block {
		height: 100vh;
		padding: 15vh 15vw 0 15vw;
	}
}

@media screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
		font-size: 14px;
	}

	#btnContato {
		color: #41b883;
		text-decoration: none;
		display: inline-block;
		align-self: center;
		width: 200px;
		height: 60px;
		background: #212120;
		padding: 10px;
		text-align: center;
		font-weight: bold;
	}

	@media only screen and (max-width: 420px) {
		body {
			font-size: 12px;
			line-height: 16px;
		}
		.Tempo {
			display: none;
		}

		.TempoMobile {
			display: block;
		}
		#coleta {
			height: 100vh;
			padding: 10vh 10vw 0 10vw;
		}
		#btnContato {
			color: #41b883;
			text-decoration: none;
			display: inline-block;
			align-self: center;
			width: 200px;
			height: 50px;
			background: #212120;
			padding: 10px;
			text-align: center;
			font-weight: bold;
			letter-spacing: 1px;
		}
		.mainContato {
			grid-template-columns: 300px;
			grid-template-rows: 100px;
			display: grid;
			grid-template-areas: "contato1" "contato2" "contato3" "contato4";
			justify-items: center;
			align-items: center;
		}
	}

	@media only screen and (max-width: 360px) {
		body {
			font-size: 12px;
			line-height: 16px;
		}
		#btnContato {
			color: #41b883;
			text-decoration: none;
			display: inline-block;
			align-self: center;
			width: 180px;
			height: 40px;
			background: #212120;
			padding: 5px;
			text-align: center;
			font-weight: bold;
			letter-spacing: 1px;
		}
		#coleta {
			height: 100vh;
			margin: 0vh 0vw 0 0vw;
		
		}

		div.mainColeta {
			padding: 0vh;
		}

		.Tempo {
			display: none;
		}
		.TempoMobile{
			padding-bottom: 10px;
		}

		.mainContato {
			grid-template-columns: 250px;
			grid-template-rows: 90px;
			display: grid;
			grid-template-areas: "contato1" "contato2" "contato3" "contato4";
			justify-items: center;
			align-items: flex-start;
			font-size: 8px;
			letter-spacing: normal;
		}
	}

	@media only screen and (max-width: 320px) {
		body {
			margin: 0%;
			font-size: 12px;
			line-height: 12px;
		}
		div.block {
			height: 100vh;
			padding: 10vh 10vw 0 10vw;
		}
		#coleta {
			height: 100vh;
			margin: 0vh 0vw 0 0vw;
		}
		#btnContato {
			color: #41b883;
			text-decoration: none;
			display: inline-block;
			align-self: center;
			width: 180px;
			height: 40px;
			background: #212120;
			padding: 5px;
			text-align: center;
			font-weight: bold;
			letter-spacing: 1px;
		}

		div.mainColeta {
			padding: 0vh;
		}
		.TempoMobile{
			padding-bottom: 10px;
		}

		.Tempo {
			display: none;
		}

		.mainContato {
			grid-template-columns: 250px;
			grid-template-rows: 90px;
			display: grid;
			grid-template-areas: "contato1" "contato2" "contato3" "contato4";
			justify-items: center;
			align-items: flex-start;
			font-size: 8px;
			letter-spacing: normal;
		}
	}

	/* Animations */
	@keyframes navLinkFadeIn {
		from {
			opacity: 0;
			transform: translateX(50px);
		}

		to {
			opacity: 1;
			transform: translateX(0px);
		}
	}

	@keyframes navLinkFadeOff {
		from {
			opacity: 1;
			transform: translateX(0px);
		}

		to {
			opacity: 0;
			transform: translateX(50px);
		}
	}

	.nav-links {
		position: absolute;
		right: 0%;
		height: 92vh;
		top: 8vh;
		background-color: #212120;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 30%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}

	.nav-links li {
		opacity: 0;
	}
	.burger {
		display: block;
	}
}

.nav-active {
	transform: translateX(0%);
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

.intro-text {
	opacity: 0;
	transform: translateY(20px);
	transition: 0.7s all ease-in-out;
	position: relative;
	overflow: hidden;
}

.intro-appear {
	opacity: 1;
	transform: translateY(0px);
	overflow: hidden;
	position: relative;
}
