html {
	scroll-behavior: smooth;
	scroll-snap-type: block mandatory;
}
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	font-family: 'Roboto';
	background-color: #212120;
	width: 100%;
	position: fixed;
	overflow: unset;
	top: 0;
	z-index: 99;
}

body {
	background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
	color: #d7e7f3;
	text-align: center;
	font-size: 22px;
	line-height: 33px;
	font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue;
}

h1 {
	font-size: 3em;
	font-weight: 200;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: normal;
	height: auto;
	-webkit-font-smoothing: subpixel-antialiased;
	box-sizing: border-box;
	font-family: 'Roboto';
}
p {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Roboto;
}
div.block {
	height: 100vh;
	padding: 15vh 15vw 0 15vw;
	scroll-snap-align: start;

}

a {
	color: #41b883;
	text-decoration: none;
	
}

a:hover {
	color: tomato;
}
a.navbar-brand {
	color: rgb(226, 226, 226);
	margin-left: 60px;
}

a.navbar-brand:hover {
	color: #41b883;
}

div.block:nth-child(2n) {
	background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

div.block:nth-child(3n) {
	background-image: linear-gradient(-60deg, #2b5876 0%, #4e4376 100%);
}

div.block:nth-child(4n) {
	background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
}

.table {
	width: 100%;
	border-collapse: collapse;
}
.table tr:nth-of-type(odd) {
	background: #41b883;
}
th {
	background: hsl(205, 90%, 22%);
	color: rgb(226, 226, 226);
	font-weight: bold;
}

th {
	padding: 6px;

	text-align: center;
}

.burger {
	display: none;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: rgb(226, 226, 226);
	margin: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.logo {
	color: rgb(226, 226, 226);
	letter-spacing: 5px;
	font-size: 20px;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 30%;
}

.nav-links li {
	list-style: none;
}

.nav-links a {
	color: rgb(226, 226, 226);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
}

.nav-links a:hover {
	color: #41b883;
}

.mainContato {
	height: 50vh;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	display: flex;
	flex-direction: column;
	margin: 5%;
	justify-items: center;
	align-items: center;
	font-family: 'Poppins';
}

.mainContato a {
	color: rgb(226, 226, 226);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 18px;
}

.mainContato a:hover {
	color: #41b883;
}
.contato1 {
	grid-area: contato1;
	animation-duration: 2s;
  	animation-delay: 0.5s;
  	animation-iteration-count: infinite;
}
.contato2 {
	grid-area: contato2;
	animation-duration: 2s;
  	animation-delay: 1s;
  	animation-iteration-count: infinite;
}
.contato3 {
	grid-area: contato3;
	animation-duration: 2s;
  	animation-delay: 1.5s;
  	animation-iteration-count: infinite;
}
.contato4 {
	grid-area: contato4;
	animation-duration: 2s;
  	animation-delay: 2s;
  	animation-iteration-count: infinite;
}
.TempoMobile {
	display: none;
}

.sobre-text, .motivo{
margin-left: 7%;
margin-right: 7%;
}

.phone-text {
	color: #41b883;
	text-decoration: none;
}

.phone-text:hover {
	color: tomato;
}

.modal-container{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgb(0, 0, 0, 0.5);
	display: none;
}

.modal-container.show{
	display: flex;
}

.loading:empty{
display: block;
content: '';
width: 100%;
height: 100%;
position: relative;
transform: translateX(-100%);
background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .2), transparent);
animation: loading 1.5s infinite;
}
@keyframes loading {
	100% {
	  transform: translateX(100%);
	}
  }

#espacoMagro {
	border: 0;
	height: 1px;
	width: 70%;
	background-image: linear-gradient(to right, #41b883, #35956a, #246d4c);
	margin-left: 15%;
}

#btnContato, #btnCalendario {
	color: #41b883;
	text-decoration: none;
	display: inline-block;
	position: relative;
	align-self: center;
	width: 280px;
	height: 60px;
	border: 5px solid transparent;
	background: #212120;
	padding: 10px;
	text-align: center;
	border-radius: 40px;
	font-weight: 400;
	text-align: center;
	align-items: center;
	font-family: 'Roboto';
}

#btnContato:hover,#btnCalendario:hover {
	color: tomato;
	box-shadow: -5px 5px 25px #000;
}

#textoColeta {
	text-align: justify;
}

#sobre p {
	text-align: justify;
}

#footer {
	font-size: 12px;
	font-style: oblique;
	align-self: baseline;
	margin-bottom: 5px;
	margin-top: 100px;
}

.intro-text {
	opacity: 0;
	transform: translateY(20px);
	transition: 0.7s all ease-in-out;
	position: relative;
	overflow: hidden;
}

.intro-appear {
	opacity: 1;
	transform: translateY(0px);
	overflow: hidden;
	position: relative;
} 

 

